sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: WlYnYfJOWSj1VKaq32BukcsjYnVxe6609a3aUDHDxELtvMopFU6hSmcy+XqRFevWNB+KGiIvR3uF4pDYEFzWFDGPPPVsDyw01qu6XjmM/PseJWkHSMgeCL4JdNLR8VpTzso+phvHnA/fq2x7gcI733NWvZAzrAokC/OEmBGkoWdabGXlqutqkND/XHRLQfLLWDefMBCuWWgiCrG3I9Sf0P0gjOGs+H3cgSLphnIN+zdrXmn09ROc5pyf3sFlFneLJytUXiUeVfoH0dIbsIfHIuWK/6+J6r8UtrV6HE4oqogvVAprpAzbqtOIXir9YeiHXnKUa8ctcjEyL4FKTp/e6rulqOyuljSuhe0NLKLrI3XbbkvRNY30xjvRa5Yu8hAI9hZpPTAIzjghUT+Gnxu1bAr6KS0EftV4iDse2JLfRuGGHoxHUC3dvtoOQElSlG3yY9Qlz/R+iYBr1NwaMFPlxOdCNC60P+WWkVV8OXALuCTwauWjrloP3B5dTa2keDlLIu/EDHiZ+4TsNlR+8caOCHdNS36LfrS2syjk0V2JKYdCOu01QcmPfDaNh/8LfnwnD2QoIcI1RbJVRDz9wm8JiV7GX5q5zN+K4VSxoFGm3szPqA7gE4d8MtRHAIs3jFMP3+B8+zIB1n3MVlHSsF3O2KIKRXdl2E2mHUkYEn0mK14=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/A-l-ombre-des-jeunes-filles-en-fleurs---Deuxi-me-partie_2999
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy